[user]
	name = maciej-umanski
	email = umanski.maciej@gmail.com
	signingKey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
	template = "~/.gitmessage"
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	editor = "vim"
	autocrlf = input
[push]
	default = upstream
	autoSetupRemote = true
[alias]
	quickfix = !git add . && git commit -m \"quickfix\" && git push
	datefix = !git commit --amend --date=now --no-edit
